@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ece8df;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #d6d6d6; /* Lite mörkare bakgrund */
  border: 2px solid #000; /* Ram runt hela layouten */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
}

.status-bar,
.header-bar {
  background-color: #ccc;
  width: calc(
    100% - 24px
  ); /* Minskar bredden för att passa inom containerns padding */
  height: 1cm;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ändrad från space-around till space-between för jämn fördelning */
  padding: 0 10px;
  margin: 0 auto 10px auto; /* Tillagt för att centrera inom containern */
}

.header-bar {
  background-color: #f0f0f0;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.menu {
  font-size: 1.5rem;
}

.clock-display {
  margin: 2cm auto 0 auto;
  width: 80%;
  height: 4cm;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2cm auto 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 6cm;
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.buttonDownleft {
  background: #0000ff; /* Blå */
}

.buttonDownRight {
  background: #00ff00; /* Grön */
}

.buttonDownRight:hover {
  background-color: rgb(0, 163, 27);
  transition: 0.5s;
}

.buttonDownleft:hover {
  background-color: rgb(86, 0, 247);
  transition: 0.5s;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.buttonDownAC {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0000; /* Röd */
  color: #ffffff;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  height: 5cm;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
}

.buttonDownAC:hover {
  background-color: rgb(161, 1, 1);
  transition: 0.5s;
}

.buttonDownAC:active {
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.blink {
  animation: blink 1s infinite;
}
